<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/img/pexels-alex-knight-2599244 (2).jpg" class="img-fluid" alt="our picture">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Meet Our Team: Discovering a World of Possibilities at Robo space</h3>
            <p class="fst-italic">
              Welcome to Robo, where innovation meets education and passion transforms into purpose. 
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i>Excellence: Striving for excellence in all aspects of education and technology, fostering a culture of continuous improvement and achievement.</li>
              <li><i class="bi bi-check2-circle"></i> Innovation: Encouraging a spirit of innovation and creativity, promoting forward-thinking solutions and embracing cutting-edge technologies.</li>
              <li><i class="bi bi-check2-circle"></i> Inclusivity: Celebrating diversity and creating an inclusive space that welcomes learners from all backgrounds and experiences.</li>
            </ul>
            <p>
              At Robo space, we are more than just educators; we are mentors, facilitators, and believers in the potential of every student. Our mission is to ignite a passion for technology and equip our students with the skills and mindset they need to thrive in an ever-evolving world. Together, we embark on a journey of discovery, unleashing the boundless possibilities that lie ahead. Join us and be a part of the transformative experience at Robo space.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clientelle</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
            <p>Collaborative Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Our Pride</h2>
          <p>Empowering Innovators, Shaping the Future: Our Pride in RoboSpace Technology Academy.
            <br>The Robotics Academy boasts cutting-edge facilities and resources, providing students with access to the latest technologies and tools.
          </p>
        </div>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill"> Excellence <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Creativity <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Innovation <i class="val">100%</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Problem-solving <i class="val">100%</i></span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Innovation <i class="val">100%</i></span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Skills Section -->

   
  </main><!-- End #main -->
