<main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Our  Contact</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Our Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>5b Adedeji close, off opebi RD<br>
                    ikeja lagos<br>
                    Nigeria <br><br></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p><a href="mailto:ispace.proxynet@gmail.com">ispace.proxynet@gmail.com</a><br></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p><a href="tel:+08124019660">081 2401 9660</a><br></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/contact" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div style="padding-top: 15px; border-color: #8ECDDD;">
                <legend></legend>
                   <input type="text" name="city" placeholder="Nigeria" required="" style="border-color: #8ECDDD; border-width: 1px;">
                <select name="state" required="">
                   <option value="" selected="" disabled="">State</option>
                  <option value="AL">Lagos</option>
      	          <option value="AK">Abuja</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="text-center"><button type="submit">Register With Us</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.443637375416!2d3.355467074264918!3d6.591651322369139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b923f7233f37b%3A0x2c733a651c26cccf!2sProxynet%20Communications!5e0!3m2!1sen!2sng!4v1690969400646!5m2!1sen!2sng" width="600" height="450" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section> <!-- End Map Section -->

  </main><!-- End #main -->
