

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>ROBO SPACE</span></h2>
          <p class="animate__animated animate__fadeInUp">Welcome to ROBO SPACE, your gateway to a world of innovative learning and cutting-edge robotics. Ignite your curiosity, explore new frontiers, and embrace the future of technology in a nurturing and inspiring educational environment. Join us today and embark on an exciting journey of exploration and creativity!</p>
          <!-- <a href="/contact" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown"> Unleash Your Potential</h2>
          <p class="animate__animated animate__fadeInUp">Discover the fascinating world of robotics and automation, where imagination knows no limits. ROBOspace Academy provides a dynamic platform to unleash your creativity and transform ideas into reality.</p>
          <!-- <a href="/portfolio" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Cutting-Edge Curriculum</h2>
          <p class="animate__animated animate__fadeInUp">Our carefully crafted curriculum blends theory with practical projects, ensuring you gain a comprehensive understanding of robotics. Experience the thrill of building robots, programming intelligent algorithms, and witnessing your creations come to life.</p>
          <!-- <a href="/curriculum" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Hands-on Learning</a></h4>
              <p class="description">Robotics allows students to engage in hands-on activities, building and programming robots, which fosters active learning and a deeper understanding of STEM concepts.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Problem-Solving Skills</a></h4>
              <p class="description"> Students encounter real-world challenges while working with robots, encouraging them to think critically and develop problem-solving skills to find innovative solutions.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Creativity and Imagination</a></h4>
              <p class="description"> Robotics provides a platform for students to unleash their creativity and imagination, as they design and build robots to perform various tasks.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Teamwork and Collaboration</a></h4>
              <p class="description">Working on robotics projects often involves teamwork, promoting collaboration and communication skills among students.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="/img/why-us.jpg" class="img-fluid" alt="why-us" >
            <a href="https://youtu.be/LyTWJKkJtEU" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href=""> Your Journey Starts Here</a></h4>
              <p class="description">Whether you're a beginner or an aspiring robotics expert, ROBOspace Academy welcomes learners of all ages and backgrounds. Join us today and embark on a transformative educational experience that will propel you towards greatness.</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Shaping a Better Tomorrow</a></h4>
              <p class="description">Join us as we strive to shape a better tomorrow through robotics and automation. From environmental conservation to medical breakthroughs, robotics has the potential to create a positive impact on our planet and the lives of its inhabitants.</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features">
      <div class="container">

        <div class="section-title">
          <h2>Why choose us</h2>
          <p>By integrating robotics into education, schools and educators can nurture a generation of learners who are adept at tackling complex problems, embracing technology, and contributing to a brighter and more innovative future.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/img/features 1.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Teamwork-Aided Learning in an Educational Setting</h3>
            <p class="fst-italic">
              Teamwork-aided learning, also known as collaborative learning, is an educational approach that emphasizes the benefits of teamwork and cooperation among students. This pedagogical strategy harnesses the power of teamwork to enhance the learning experience, foster critical skills, and prepare students for the challenges of the modern world.
            </p> 
            <ul>
              <li><i class="bi bi-check"></i> Collaborative Projects</li>
              <li><i class="bi bi-check"></i> Communication Skills</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="/img/hehe.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>One-on-One Teaching</h3>
            <p class="fst-italic">
              In the realm of technology education, one-on-one teaching has emerged as a powerful and effective approach to help individuals develop their technical skills, problem-solving abilities, and creative thinking.
            </p>

            <p>
              Personalized Learning: Every individual has unique learning preferences and paces. One-on-one teaching allows mentors to understand the specific needs of each learner and tailor their approach accordingly.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="/img/jjjj.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3> A Journey of Empowerment and Exploration</h3>
            <p>Robotics education has emerged as a transformative field, empowering students with valuable technical skills, problem-solving abilities, and creativity. As students embark on their journey of learning robotics, they are exposed to an exciting world of innovation and discovery. </p>
            <ul>
              <li><i class="bi bi-check"></i> Practical Application of STEM Concepts.</li>
              <li><i class="bi bi-check"></i> Real-World Applications.</li>
              <li><i class="bi bi-check"></i> Creativity and Innovation</li>
            </ul>
          </div>
        </div>

        

      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

