<main id="main">

    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Profile of school collaborators</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/clients/aisa.png" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.aisabuja.org"><i class="bi bi-browser-chrome"></i></a>
                  <a href="https://www.aisabuja.org"><i class="bi bi-browser-safari"></i></a>

                </div>
              </div>
              <div class="member-info">
                <h4>American International School, Abuja.</h4>
                <p>The American International School of Abuja (AISA) is a private, nonprofit, coeducational, college preparatory day school offering programs from preschool (age 3) through grade 12. Located in Nigeria’s capital, AISA was founded in 1993, serving a diverse, multi-cultural community. The school year comprises of two semesters beginning in August and ending in June.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/clients/olivehall.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://olivehall-preparatory-school-abuja.business.site/"><i class="bi bi-browser-chrome"></i></a>
                  <a href="https://olivehall-preparatory-school-abuja.business.site/"><i class="bi bi-browser-safari"></i></a>
                 
                </div>
              </div>
              <div class="member-info">
                <h4>Olivehall Preparatory School</h4>
              
                <p>Olive Hall Preparatory School is a creative centre that caters for your child from 16 months to 11years.We run a 7.00am to 5.pm schedule,all work days ,year-round serving toddlers, preschoolers and Primary School pupils. We also offer an after school program for primary school children and a daily drop in option.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/clients/proper.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://napps.com.ng/school-single.php?campus_id=VFdwbmVVMVJQVDA9"><i class="bi bi-browser-chrome"></i></a>
                  <a href="https://napps.com.ng/school-single.php?campus_id=VFdwbmVVMVJQVDA9"><i class="bi bi-browser-safari"></i></a>
                 
                </div>
              </div>
              <div class="member-info">
                <h4>Proper child school</h4>

                <p>Proper Child School (Primary school) is located in Lagos, Nigeria. Nearby area or landmark is 57 Kalejaye St. Address of Proper Child School is Ewu Tuntun Town, 57 Kalejaye St, Bisam Tollgate, Lagos, Nigeria.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/clients/ntic.jpg" class="img-fluid" alt="" width="150px">
                <div class="social">
                  <a href="https://ntic.edu.ng/>"><i class="bi bi-browser-chrome"></i></a>
                  <a href="https://ntic.edu.ng/>"><i class="bi bi-browser-safari"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>NTIC</h4>
               
                <p>Nigerian Tulip International College (NTIC) was founded in 1998 in Wuse 2, Abuja, Nigeria. The school was welcomed by
                  the Nigerians and has been supported constantly since its inception. NTIC has been embraced by different sections of the society from every state of the country.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/clients/nouveau.jpg" class="img-fluid" alt="" width="145px">
                <div class="social">
                  <a href="https://nouveauschools.com/>"><i class="bi bi-browser-chrome"></i></a>
                  <a href="https://nouveauschools.com/>"><i class="bi bi-browser-safari"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Nouveau Schools</h4>
               
                <p>Big and vibrant classrooms with electronic whiteboards.
                  Qualified and experienced local and expatriate staff.
                  Well-stocked children’s book and video libraries.
                  Local language classes including French, Hindi, and Chinese.
                  Integrated ICT facilities.
                  First-class children’s Music Academy.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/clients/pamper logo.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://pampersprivateschool.org/>"><i class="bi bi-browser-chrome"></i></a>
                  <a href="https://pampersprivateschool.org/>"><i class="bi bi-browser-safari"></i></a>
                
                </div>
              </div>
              <div class="member-info">
                <h4>Pampers School</h4>
             
                <p>At Pampers Private School we offer a harmonised curriculum which is the meshing of the Cambridge and Nigerian curricula to provide an international standard of learning. We see our pupils and their parents like family, so consistently encourage warmth, mutual respect and celebrate success at every opportunity. </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->